@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  overflow: hidden; /* Prevent scroll on mobile map */
}

/* Leaflet Map Full Height */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: #121212;
  z-index: 1;
}

/* Custom Scrollbar for stats */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
